import discord
from discord.ext import commands
from discord import app_commands
from func.discord import MyBot
from func.db import Tag_DB
from func.log import get_log

class SampleCog(commands.Cog):
    def __init__(self, bot:MyBot):
        self.bot = bot
        self.log = get_log("TagCog")
        self.DB = Tag_DB()
    
    @commands.Cog.listener()
    async def on_ready(self):
        self.log.info(f"SampleCogを読み込みました!")

async def setup(bot):
    await bot.add_cog(SampleCog(bot))